body {
    background-color: bisque;
}



div.all {
    text-align: center;
    padding: 350px;
    margin: auto;
    border: 2px;
}


button {
    border-radius: 12px;
}

.food {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
    margin: 10px;
}

.pizza:hover {
    background-color: red;
    transition-duration: 0.4s;
}

.poke:hover {
    background-color: lightsalmon;
    transition-duration: 0.4s;
}

.pasta:hover {
    background-color: beige;
    transition-duration: 0.4s;
}